<div class="style">
  <h1>
    Welcomeeee guys to {{ title }}!

  </h1>
  <img class="icon" alt="image" src="assets/img/mainPic.jpg">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="style">Дещо про мене: </h1>
<br>
<div>
  
  <img class="profilePic" alt="image" src="assets/img/profile.jpg" align="right">
  <br>
  <br>
  <h3 class="text"> Мене звати Юра, мені 25 років і я задрот.
    <br> Закінчив Державний Університет Телекомунікацій здобувши освіту за напрямком телекомунікайні системи та мережі.
    В студентські роки мав цікавий проект на той час, сайт з фільмами filmuonline.com, але спіткала його невдача і
    правоохоронні органи закрили його за піратсво.
    Вивчаю ReactJS, займаюсь бізнесом, іграю в Dota ...
  </h3>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="grid2">
    <a href="http://s.team/p/hqc-wgrg/TWJWBNMR" target="_blank">
      click to invite steam friends
    </a>
  </div>
<br>
<br>
<router-outlet>
</router-outlet>