<form #userForm="ngForm" (ngSubmit)="addCar(car)">
  <div ngModelGroup="cars">
    <div class="form-brand">
      <label>Марка авто :</label>
      <input type="text" placeholder="марка авто" name="brand" [(ngModel)]="car.brand">
    </div>
    <div class="form-price">
      <label for="price">Ціна авто :</label>
      <input type="number" placeholder="ціна авто" name="price" [(ngModel)]="car.price">
    </div>
    <div class="form-year">
      <label for="year">Рік авто :</label>
      <input type="number" placeholder="рік авто" name="year" [(ngModel)]="car.year">
    </div>
    <div class="mb-3">
      <label>Стан авто</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="true" name="used" [value]="true" [(ngModel)]="car.used">
        <label class="form-check-label">Used</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="false" name="used" [value]="false" [(ngModel)]="car.used">
        <label class="form-check-label">New</label>

        <ul>
          <p *ngFor="let car of cars; let i = index" 
          [style.background-color]="getBackgroundColor(car.price , car.used)">
            <li>{{car.brand | uppercase}}</li>
            <li>{{car.price}}</li>
            <li>{{car.year}}</li>
            <li >{{car.used}}</li>
            <button type="button" (click)="deleteCar(car, i)">Delete</button>

          </p>

        </ul>

      </div>
    </div>
  </div>

  <p><button type="submit">Зберегти</button></p>
  <div>
    {{newCar}}
  </div>
</form>
